@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
}

a {
	color: #ffffff;
	text-decoration: none;
}

ul {
	list-style: none;
}

/* Header */

.header {
	display: flex;
	justify-content: center;
	width: 100%;
}

.logo {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: 0 auto;
	width: 44px;
	height: 45px;
}

.menu-list {
	position: absolute;
	top: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 600px;
	height: 45px;
	color: #ffffff;
}

.menu-list__h1 {
	width: 1px;
	height: 1px;
	visibility: hidden;
}

.menu-list__link {
	position: relative;
	font-size: 14px;
	font-weight: 500;
}

.menu-list__link_active::after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #ffffff;
}

/* Your Life block */

.title {
	text-transform: uppercase;
	font-weight: 700;
}

.your-life {
	background: url(assets/bg-image.jpg) top / cover no-repeat;
	width: 100%;
	height: 743px;
	text-align: center;
	padding-top: 1px;
}

.your-life__title {
	font-size: 64px;
	letter-spacing: 4.5px;
	color: #ffffff;
	margin: 229px 0 0 4px;
}

.your-life__subtitle {
	color: #ffffff;
	font-size: 18px;
	width: 500px;
	margin: 20px auto 0;
	line-height: 25.2px;
}

.button {
	outline: none;
	border: none;
	padding: 15px 47px;
	background-color: #00AFDB;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	color: #ffffff;
	width: 184px;
}

.button:hover {
	cursor: pointer;
	background-color: #009cc2;
}

.your-life__button {
	margin: 30px auto 0;
}

.socio {
	display: flex;
	width: 170px;
	justify-content: space-between;
	margin: 183px auto 0;
}

.socio__item {
	width: 20px;
	height: 20px;
}

.socio__item:hover {
	cursor: pointer;
}

/* Rappresent */

.rappresent {
	display: flex;
	justify-content: space-between;
	width: 66.3%;
	margin: 0 auto;
	padding: 120px 0 140px;
}

.description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 407px;
}

.rappresent__title {
	color: #373737;
	font-size: 24px;
	letter-spacing: 1px;
	width: 370px;
	margin-bottom: 20px;
}

.text {
	font-size: 14px;
	line-height: 20px;
}

.rappresent__text {
	margin-bottom: 30px;
}

.rappresent__button {
}

.rappresent__img {
}

/* Our Community */

.our-community {
	display: flex;
	align-items: center;
	padding: 81px 0 118px;
	background-color: #f5f6f7;
}

.our-community__description {
	width: 300px;
	height: 175px;
	text-align: center;
	margin: 18px 139px 0 269px;
	flex: 1 1 25%;
}

.our-community__pic {
	margin-bottom: 15px;
}

.our-community__title {
	margin-bottom: 9px;
	font-weight: 500;
	letter-spacing: 0.68px;
}

.slider {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 1 75%;
	overflow: hidden;
}

.slider-controls {
	display: flex;
	justify-content: center;
	font-size: 18px;
	width: 83px;
	margin-left: 274px;
}

.slider-controls__arrow-left {
	margin-right: 14px;
}

.slider-controls__arrow-left:hover, .slider-controls__arrow-right:hover {
	cursor: pointer;
}

.slider-controls__arrow-right {
	margin-left: 14px;
}

.slider-controls__dash {
	margin: 0 4px;
}

.slider-items {
	display: flex;
	margin: 18px auto;
}

.slider__item {
	margin-right: 30px;
}

/* Implement */

.implement {
	display: flex;
	justify-content: space-between;
	padding: 120px 0 140px;
	width: 66.3%;
	margin: 0 auto;
}

.implement__description {
	margin-right: 108px;
}

.implement__title {
	color: #373737;
	font-size: 24px;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

.implement__text {
	margin-bottom: 30px;
}

.implement__button {
	width: 180px;
}